USE [master]
GO
/****** Object:  Database [ProgramaFidelidad]    Script Date: 26/08/2025 9:21:44 p. m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ProgramaFidelidad')
BEGIN
CREATE DATABASE [ProgramaFidelidad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProgramaFidelidad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProgramaFidelidad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProgramaFidelidad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProgramaFidelidad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProgramaFidelidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProgramaFidelidad]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 26/08/2025 9:21:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ciudad]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Ciudad](
	[Cod_Ciudad] [int] NOT NULL,
	[Nombre_Ciudad] [varchar](50) NOT NULL,
	[Cod_Departamento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/08/2025 9:21:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cliente]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cliente](
	[Numero_Identificacion] [varchar](15) NOT NULL,
	[Primer_Nombre] [varchar](30) NOT NULL,
	[Segundo_Nombre] [varchar](30) NULL,
	[Primer_Apellido] [varchar](30) NOT NULL,
	[Segundo_Apellido] [varchar](30) NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Tipo_Identificacion] [int] NULL,
	[Cod_Ciudad] [int] NULL,
	[Cod_Departamento] [int] NULL,
	[Cod_Pais] [int] NULL,
	[Cod_Marca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero_Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 26/08/2025 9:21:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departamento]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Departamento](
	[Cod_Departamento] [int] NOT NULL,
	[Nombre_Departamento] [varchar](50) NOT NULL,
	[Cod_Pais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 26/08/2025 9:21:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Marca]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Marca](
	[Cod_Marca] [int] NOT NULL,
	[Nombre_Marca] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 26/08/2025 9:21:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pais]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Pais](
	[Cod_Pais] [int] NOT NULL,
	[Nombre_Pais] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Tipo_Identificacion]    Script Date: 26/08/2025 9:21:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tipo_Identificacion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tipo_Identificacion](
	[Cod_Identificacion] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Ciudad__Cod_Depa__5070F446]') AND parent_object_id = OBJECT_ID(N'[dbo].[Ciudad]'))
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD FOREIGN KEY([Cod_Departamento])
REFERENCES [dbo].[Departamento] ([Cod_Departamento])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Cliente__Cod_Ciu__5629CD9C]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([Cod_Ciudad])
REFERENCES [dbo].[Ciudad] ([Cod_Ciudad])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Cliente__Cod_Dep__571DF1D5]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([Cod_Departamento])
REFERENCES [dbo].[Departamento] ([Cod_Departamento])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Cliente__Cod_Mar__59063A47]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([Cod_Marca])
REFERENCES [dbo].[Marca] ([Cod_Marca])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Cliente__Cod_Pai__5812160E]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([Cod_Pais])
REFERENCES [dbo].[Pais] ([Cod_Pais])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Cliente__Tipo_Id__5535A963]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([Tipo_Identificacion])
REFERENCES [dbo].[Tipo_Identificacion] ([Cod_Identificacion])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Departame__Cod_P__4D94879B]') AND parent_object_id = OBJECT_ID(N'[dbo].[Departamento]'))
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD FOREIGN KEY([Cod_Pais])
REFERENCES [dbo].[Pais] ([Cod_Pais])
GO
USE [master]
GO
